= form_for @message do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "Ohoh, something is left behind:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .message-wapper
    = f.kindeditor :content,
      :width => 500, :height => 100,
      :items => ['emoticons','image','source'],
      :wellFormatMode => true,
      :allowImageUpload => false

    .actions
      %br
      = f.submit 'Leave a message', :class => "btn btn-large"

