= form_for @blog do |f|
  -if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  #tag
    = render :partial => 'tag', :collection =>  @tags
  <hr />New tag
  = text_field_tag "tag_to_add"
  = link_to "Add", "#", :id => "add_tag"
  .actions
    = f.submit 'Save'

:javascript
  $("#add_tag").click(function(){
    $("#tag").append('<input type="checkbox" name="'+$("#tag_to_add").val()+'"checked="checked">' + $("#tag_to_add").val());
  })

