= form_for @blog do |f|
  -if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.kindeditor :content, :width => 800, :height => 300 #use kindeditor
  #tag
    = render :partial => 'tag', :collection =>  @tags
  %hr New tag
  = text_field_tag "tag_to_add"
  .actions
    = f.submit 'Save'

