%tr
  %td
    = link_to tagged_blog.title, blog_url(tagged_blog)
  %td
    = tagged_blog.created_at.mon
    \,
    = tagged_blog.created_at.day
    |
    = tagged_blog.created_at.year
    %br
    - if can? :manage, :all
      %td= link_to 'Edit', edit_blog_path(tagged_blog)
      %td= link_to 'Destroy', tagged_blog, :method => :delete, :confirm => "Remove?"


