%table.table.table-bordered
  %h3 Recent posts
  - @blogs.each do |blog|
    %tr
      %td
        = link_to blog.title, blog_url(blog)
      %td
        = blog.created_at.mon
        \,
        = blog.created_at.day
        |
        = blog.created_at.year
        %br
      - if can? :manage, :all
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, :method => :delete

%br

- if can? :manage, :all
  = link_to 'New Blog', new_blog_path
