%h1 Listing blogs

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.title
      %td= link_to 'Show', blog
      - if can? :manage, :all
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, :method => :delete

%br

- if can? :manage, :all
  = link_to 'New Blog', new_blog_path
