%p#notice= notice

= link_to 'Back', blogs_path
- if can? :manage, :all
  \|
  = link_to 'Edit', edit_blog_path(@blog)
%p
  %b Title:
  = @blog.title
%p
  = raw(@blog.content)

= link_to 'Back', blogs_path
