- if can? :manage, :all
  = link_to 'Edit', edit_blog_path(@blog),
    :class => "btn btn-primary"
%h3= @blog.title
.blog-content
  = @blog.content.html_safe
.comments
  %table.table.table-striped
    %tbody
      = render :partial => "comment", :collection => @blog.comments
%h3 Comment:
.new-comment
  = render "comment_form"
= link_to 'Back', blogs_path, :class => "btn btn-mini"
