= form_for @micropost do |f|
  -if @micropost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@micropost.errors.count, "error")} prohibited this micropost from being saved:"
      %ul
        - @micropost.errors.full_messages.each do |msg|
          %li= msg
          %h3
            Total comments
            = @blog.comments.size

  .field
    = f.text_area :content, :class => "micropost-content"
    = f.submit 'Save', :class => "btn btn-mini btn-primary"
